/.*
!/.emacs*
/.emacs.d/tramp
/.emacs.d/emms
!/.gitattributes
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.bash_profile
!/.gitmodules
!/.minttyrc
!/.notes
/.notes/trash
!/.nyagos
!/.nyagos.cmd
!/_nyagos
!/.profile
!/.bashrc*
!/.uncrustify.cfg
!/.spider.ini
!/.ssh
!/ReneePassNow_Latest.exe
/artifacts.xml
/configuration/
/p2/
/workspace/
!/.pypirc
/_viminfo
/vimfiles
/mplayer
